/*
 * Copyright (c) 2020.  Budo Systems
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */
@import url('haiku.css');

dl.class, dl.function, dl.data {
    border-top: 2px dotted grey;
    padding-top: 1em;
    margin-top: 1em;
}

dd {
    padding-left: 4ex;
    margin-left: 0px;
    border-left: 1px solid lightgrey;
}

dl.py > dt, code {
    font-family: 'JetBrains Mono', monospace;
}

table.align-default {
    margin-left: 0px;
    margin-right: 0px;
}

.two-col .left-col {
    float: left;
    width: 45%;
}

.two-col .right-col {
    float: right;
    width: 45%;
}

section {
    clear: both;
}

h3 {
    font-weight: bold;
}
